[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
markdown = "*"
Pillow = "*"
plantuml-markdown = "*"
Pygments = "*"
requests = "*"
six = "*"
setuptools = "*"
ipython = "*"
django-markdownx = "*"

[requires]
python_version = "3.9"

[dev-packages]
ipython = "*"
tox = "*"
coverage = "*"
