[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.0.4"
markdown = "==3.3.6"
Pillow = "==9.1.0"
plantuml-markdown = "*"
Pygments = "*"
requests = "*"
six = "*"
setuptools = "*"
ipython = "==8.2.0"

[requires]
python_version = "3.9"

[dev-packages]
ipython = "*"
tox = "*"
coverage = "*"
